
<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">My Django App</a>
        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'retrieve_courses' %}">Courses</a></li>
            <li><a href="{% url 'get_trainee' %}">Trainees</a></li>
        </ul>
        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>